!!!
- require 'json'
%head
  <script type="text/javascript" src="klass.min.js"></script>
  <script src="jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="waypoints.min.js"></script>
  <script type="text/javascript" src="code.photoswipe.jquery-3.0.5.min.js"></script>
  <script type="text/javascript" src="album_adapter.js"></script>
  
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  
  / %link(rel='stylesheet' href='css/colorbox.css')
  %link(rel='stylesheet' href='css/photoswipe.css')
  %link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
  %link(rel='stylesheet' href='bootstrap/css/bootstrap-responsive.min.css')
  %link(rel='stylesheet' href='css/default.css')
%body
  %script
    var albumKeeper = new Albums();

  #galleria
    =render :haml, :'page'

  %a.btn{:class => 'more_albums', :href => 'javascript:albumKeeper.moreAlbums()', 'type'=>"button" }
    load more albums

  %script
    setInfiniteFetcher('.more_albums');

  <script src="/bootstrap/js/bootstrap.min.js">